In [48]:
import pandas as pd
import sqlite3
import requests

In [52]:
def ej_1_cargar_datos_demograficos() -> pd.DataFrame:
    data = pd.read_csv('us-cities-demographics.csv', sep=';')
    data = pd.DataFrame(data)
    data = data.drop(['Race', 'Count', 'Number of Veterans'], axis=1)
    data.drop_duplicates(inplace=True)
    data.to_csv("demographics-limpio.csv")

print(data)

                  City        State  Median Age  Male Population  \
0               Denver     Colorado        34.1         341137.0
1                Provo         Utah        23.6          56231.0
2              Hampton     Virginia        35.5          66214.0
3           Birmingham      Alabama        35.6         102122.0
4              Greeley     Colorado        31.0          50792.0
...                ...          ...         ...              ...
2022  San Buenaventura   California        37.7          53932.0
2058         Harlingen        Texas        30.1          32404.0
2070             Tyler        Texas        33.9          50422.0
2269        Bellflower   California        33.4          38936.0
2753             Ponce  Puerto Rico        40.5          56968.0

      Female Population  Total Population  Foreign-born  \
0              341408.0            682545      113222.0
1               59027.0            115258       10925.0
2               70240.0            136454        6204.0
3              112789.0            214911        8258.0
4               50091.0            100883       11480.0
...                 ...               ...           ...
2022            55785.0            109717       18025.0
2058            33365.0             65769       10391.0
2070            53283.0            103705        8225.0
2269            39498.0             78434       24607.0
2753            64615.0            121583           NaN

      Average Household Size State Code
0                       2.33         CO
1                       3.28         UT
2                       2.48         VA
3                       2.21         AL
4                       2.75         CO
...                      ...        ...
2022                    2.68         CA
2058                    3.00         TX
2070                    2.59         TX
2269                    3.58         CA
2753                     NaN         PR

[596 rows x 9 columns]

In [15]:
conn = sqlite3.connect('CalidadDeAire.db')

In [ ]:
SELECT p.City  , c2.CO , c2.overall_aqi ,p."Total Population" 
FROM ciudades c, poblacion p
JOIN ciudades c2 on c2.City_1 == p.City 
GROUP BY p."Total Population"  
ORDER BY p."Total Population"  DESC 
LIMIT 10;